<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Flexor\CMSPageTie\Api\TieManagementInterface" type="Flexor\CMSPageTie\Model\TieManagement" />
    <preference for="Flexor\CMSPageTie\Api\Data\TieInterface" type="Flexor\CMSPageTie\Model\Tie" />
    <preference for="Flexor\CMSPageTie\Api\TieRepositoryInterface" type="Flexor\CMSPageTie\Model\TieRepository" />
</config>
